:root {
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Times New Roman', Times, serif;
  --font-mainContent: 'Courier New', Courier, monospace;

  --DarkShadow: #404040;
  --Dark: #222629;
  --Green: #86C232;
  --LightGreen: #A6F03E;
  --Blue: #106df8;
  --Navy: #3f739e;
  /* --Light: #E9E9EB; */
  --Light: white;
}

.pages {
  margin: 2% 20% 0 20%;
}

header {
  font-weight: bold;
  font-size: 28px;
  font-family: var(--font-primary);
  padding: 2% 5% 2% 0px;
  color: white;
}

.pages-content:not(:first-child) {
  min-height: 600px;
  /* padding-bottom: 300px; */
}


.anchor { 
  position: relative;
  margin-bottom: 50px;
  display: block;
  visibility: hidden;
} 

h1, h3, h5, p, li {
  font-family: var(--font-mainContent);
}

a {
  padding-right: 10px;
  color: inherit;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}